@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (prefers-color-scheme: dark) {
  html {
    --window: #121212;
    --bg: #191919;
    --text: #d6d6d6;
    --link: #89b4fa;
    --surface: #1f1f1f;
    --separator: #858585;
    --accent: #f0b77f;
    --hover: #333;
  }

  .menubutton:hover,
  .menubutton.active { background: var(--hover); }

  .totop { background-image: url("resources/ScrollTop.svg"); }
}

@media (prefers-color-scheme: light) {
  html {
    --window: #e0e0e0;
    --bg: #e6e6e6;
    --text: #222;
    --link: #527ec6;
    --surface: #ededed;
    --separator: #7a7a7a;
    --accent: #e99746;
    --hover: #ddd;
  }

  .menubutton { filter: invert(100%); }

  .menubutton:hover,
  .menubutton.active { background: var(--text); }

  .totop { background-image: url("resources/ScrollTop-light.svg"); }
}

html {
  background: var(--bg);
  user-select: none;
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
  scroll-behavior: smooth;
}

body {
  font-size: 16pt;
  line-height: 1;
  max-width: 4096px;
}

#modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000000cc;
}

#modal_img {
  width: 100%;
  height: 100%;
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#alt_txt {
  font-size: 16pt;
  padding: 16px;
  background: #000;
  color: #fff;
}

#close {
  cursor: pointer;
  position: absolute;
  right: 0;
  z-index: 1;
}

a { color: var(--link); }

h1, h2, h3, h4, h5, h6 {
  font-weight: 100;
  line-height: 1;
}

hr { border: 1px solid var(--separator); }

p { font-size: 16pt; }

ul { text-align: left; }

.totop {
  display: none;
  position: fixed;
  width: 64px;
  height: 64px;
  bottom: 30px;
  right: 30px;
  background-color: var(--surface);
  box-shadow: 0 0 5px #00000022;
  cursor: pointer;
  border-radius: 4px;
  z-index: 1;
}

.totop:hover {
  background-color: var(--hover);
}  

.main,
.menu {
  background: var(--surface);
  box-shadow: 0 0 5px #00000022;
  font-size: 14pt;
  line-height: 1.5;
  margin: 1em;
  overflow: auto;
  border-radius: 10px;
  text-align: center;
}

.main { padding-bottom: 7px; }

.menu {
  top: 10px;
  position: sticky;
  background: var(--surface);
  width: calc-size(fit-content, size + 64px);
  z-index: 1;
}

.menubutton {
  display: inline-block;
  margin: 0 2px;
  width: 64px;
  height: 64px;
  border-radius: 4px;
}

.windowtitle {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  padding: 2px;
  background: var(--window);
  margin-bottom: 5px;
}

.footer {
  text-align: center;
  font-size: 10pt;
}

.footertext { font-family: monospace; }

.tablinks {
  display: inline-block;
  min-width: 128px;
  padding: 4px;
  border-radius: 4px;
  background: var(--surface);
  color: var(--text);
  font-size: 35pt;
  font-family: inherit;
}

.tablinks:hover {
  background: var(--hover);
  cursor: pointer;
}

.tablinks.active {
  background: var(--hover);
  cursor: default;
}

.tabcontent { display: none; }

.publicmodel {
  display: inline-block;
  margin: 5px;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 4px;
  box-shadow: 0 0 5px #00000055;
  text-decoration: none;
  color: var(--text);
  line-height: 1;
}

.publicmodel:hover { background: var(--hover); }

.media {
  margin: 5px;
  display: inline-block;
  cursor: pointer;
}

.label {
  font-size: 16pt;
  font-weight: bold;
  color: var(--text);
  display: block;
}

.titleseparator {
  background: var(--surface);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3mm;
  padding: 1mm;
  overflow: auto;
  font-size: 30pt;
  border-bottom: solid 1mm var(--accent);
}
