@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

@media (prefers-color-scheme: dark) {
  html {
    --window: #121212;
    --bg: #191919;
    --text: #d6d6d6;
    --link: #89b4fa;
    --surface: #1f1f1f;
    --separator: #858585;
    --accent: #f0b77f;
    --hover: #333;
  }

  .menubutton:hover {
    background: var(--hover);
  }
}

@media (prefers-color-scheme: light) {
  html {
    --window: #e0e0e0;
    --bg: #e6e6e6;
    --text: #222;
    --link: #527ec6;
    --surface: #ededed;
    --separator: #7a7a7a;
    --accent: #e99746;
    --hover: #ddd;
  }

  .menubutton {
    filter: invert(100%);
  }

  .menubutton:hover {
    background: #222;
  }
}

html {
  background: var(--bg);
  user-select: none;
  color: var(--text);
  font-family: 'Montserrat', sans-serif;
}

body {
  font-size: 16px;
  line-height: 1;
  margin: 1px;
  padding: 1em;
}

#modal {
  display: none;
  flex-direction: column;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
  background: #000000cc;
}

#modal_img {
  width: 100%;
  height: 100%;
  background-image: url(resources/2025art/lopoly_pavlova.png);
  background-position-x: center;
  background-position-y: center;
  background-size: contain;
  background-repeat: no-repeat;
}

#alt_txt {
  font-size: 16pt;
  padding: 16px;
  background: #000;
  color: #fff;
}

#close {
  cursor: pointer;
  position: absolute;
  right: 0;
}

a {color: var(--link);}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 100;
  line-height: 1;
}

hr {border: 1px solid var(--separator);}

p {font-size: 16pt;}

ul {text-align: left;}

.main,
.menu {
  background: var(--surface);
  box-shadow: 0 0 5px #00000022;
  font-size: 16px;
  line-height: 1.5;
  margin: 1em;
  overflow: auto;
  border-radius: 10px;
  text-align: center;
}

.main {
  padding-bottom: 7px;
}

.menu {
  top: 10px;
  position: sticky;
  background: var(--surface);
  z-index: 1;
}

.menubutton {
  display: inline-block;
  transition: 0.1s;
  width: 64px;
  height: 64px;
  border-radius: 10px;
}

.windowtitle {
  font-weight: bold;
  font-size: 16pt;
  text-align: center;
  padding: 2px;
  background: var(--window);
  margin-bottom: 5px;
}

.wrapper {
    border: 2px solid var(--separator);
    border-radius: 10px;
    font-size: 20px;
    padding: 1em;
    margin: 20px;
}

button {
  background: var(--surface);
  color: var(--text);
  
  border: none;
  border-radius: 10px;
  
  box-shadow: 0 0 5px #00000055;
  margin: 5px;
  padding: 20px;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  line-height: .5;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dd-content {
  display: none;
  position: absolute;
  overflow-y: scroll;
  
  padding: 5px;
  max-height: 400px;
  
  background: var(--surface);
  color: var(--text);
  
  border-radius: 10px 0 0 10px;
  
  box-shadow: 0 0 5px #00000055;
  
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  line-height: 1.75;
}

.dd-content div {
  color: var(--text);

  padding: 5px;
  
  text-align: left;
  font-family: 'Montserrat', sans-serif;
  font-size: 16pt;
  line-height: 1;
}

.dd-content div:hover {
  background: var(--hover);
}

.dd-content div:active {
  background: var(--bg);
}

#dd-search {
  box-sizing: border-box;
  
  padding: 10px;
  margin-bottom: 5px;
  
  background: var(--bg);
  color: var(--text);
  
  border: none;
  border-radius: 10px 10px 0 0;

  text-align: center;
  font-family: 'Montserrat', sans-serif;
  font-size: 12pt;
}

canvas {
  display: block;
  margin: auto;
  
  padding: 20px;
  width: 512px;
  height: 512px;
  
  border-radius: 10px;
  box-shadow: 0 0 5px #00000055;
  
  text-decoration: none;
  color: var(--text);
  line-height: 1;
}

.show {
  display: block;
}

.folder {
  display: inline-block;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px #00000055;
  margin: 5px;
  text-decoration: none;
  color: var(--text);
  font-size: 35pt;
  text-align: center;
  line-height: 4;
}

.publicmodel {
  display: inline-block;
  margin: 5px;
  padding: 20px;
  width: 200px;
  height: 200px;
  border-radius: 10px;
  box-shadow: 0 0 5px #00000055;
  text-decoration: none;
  color: var(--text);
  line-height: 1;
}

.folder:hover,
.publicmodel:hover,
button:hover {
  background: var(--hover);
}

.folder:active,
.publicmodel:active,
button:active {
  background: var(--surface);
}

.media {
  margin: 5px;
  display: inline-block;
}

.label {
  font-size: 20px;
  font-weight: bold;
  color: var(--text);
  display: block;
}

.titleseparator {
  background: var(--surface);
  text-align: center;
  line-height: 1.5;
  margin-bottom: 3mm;
  padding: 1mm;
  overflow: auto;
  font-size: 30px;
  border-bottom: solid 1mm var(--accent);
}

.footer {
  text-align: center;
  font-size: 12px;
}

.footertext {
  font-family: monospace;
}